.container {
  text-align: center;
  margin-top: 20px;
}
table {
  margin: auto;
}
input {
  font-size: 34px;
  border: 1.5px solid black;
  border-radius: 20px;
}
button {
  font-size: 40px;
  background: grey;
  width: 102px;
  height: 90px;
  border-radius: 20px;
  margin: 6px;
}
.caculator {
  display: inline-block;
  box-shadow: 2px 2px 2px 2px;
  padding: 23px;
  border-radius: 53px;
  background-color: aqua;
}
h1 {
  font-size: 40px;
  margin-bottom: 5px;
  font-family: 'Courier New', Courier, monospace;
}
